<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css" integrity="sha384-yEVRehg/p4xt8W5mA5j5w2zj2gD/5BVWdmrFpK5r5ab5sz5aPmG8tjKm1cWI2y3CU" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js" integrity="sha384-L6pc9U6hMlPxTqjxkaI2V7Dd6y3FxEb+nxSvF8LEQg1X9Y2IixjKQRjM63nxtE4y" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js" integrity="sha384-0m1mJCflRxOZ9jVVm4BCm++zg+Lod4LvcWC/vtA5/dtVoW/5F5rZb5L5g5x5bWwM" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      // Add or remove custom delimiters as needed
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "\\[", right: "\\]", display: true },
        { left: "\\(", right: "\\)", display: false },
        { left: "$", right: "$", display: false },
      ],
    });
  });
</script>
